.products{
  margin-bottom: 2rem;
}

.products .product-item{
  width: 20%;
  float: left;
  margin: 0 2.5%;
  text-align: center;
}

.products .product-item .item{
  border: #ad5757;
  border: 1px solid rgba(173,87,87,.3);
  padding: 1rem;  
}

.products .product-item p{
  text-align: inherit;
  font-size: .7rem;
}

.products .product-item a{
  text-decoration: none;  
}

.product-image{
  margin-top: 1rem;
}

.product-image img{
  border-bottom: 3px solid #fff;  
}

.msrp{
  text-align: center;
  padding: 1rem;
  background-color: #2f5600;
  background-color: rgba(47,86,0, .3);
}