.view-blog .view-content .views-row .node-blog{
  border-bottom: 5px solid #4d4d4d;
  border-bottom: 5px solid rgba(77,77,77,.3);
  padding: 1rem;
  margin-bottom: 1rem;
}

.view-blog .node-blog:last-of-type{
  margin-bottom: 0;  
  border-bottom: 0;
}

.view-blog .node-blog .submitted, .blog .submitted{
  font-size: .7rem;
  color: #4d4d4d;
  color: rgba(77,77,77,.3);
}

.view-blog .node-blog h2 a{
  font-weight: bold;
  text-decoration: none;  
}