.view-products{
  margin-bottom: 2rem;
}

.view-products .view-content{
  width: 20%;
  float: left;
  margin: 0 2.5%;
  text-align: center;
}

.view-products .view-content .views-row{
  border: #ad5757;
  border: 1px solid rgba(173,87,87,.3);
  padding: 1rem;  
}

.view-products .views-row p{
  text-align: inherit;
  font-size: .7rem;
}

.view-products .views-row a{
  text-decoration: none;  
}

/*views-field views-field-field-product-image*/

.views-field-field-product-image{
  margin-top: 1rem;
}

.views-field-field-product-image img{
  border-bottom: 3px solid #fff;  
}

.msrp{
  text-align: center;
  padding: 1rem;
  background-color: #2f5600;
  background-color: rgba(47,86,0, .3);
}